body {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
}
main {
    flex: 1;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 20px;
}

.cabecera {
    display: flex;
    grid-column: span 3;
    text-align: center;
    flex-wrap: wrap;
    justify-content: space-around;
}

.columnas {
    display: contents;
}

.columnastipo {
    padding: 20px;
    border-radius: 8px;
}

@media (max-width: 768px) {
    main {
        grid-template-columns: 1fr;
    }

    .cabecera {
        grid-column: span 1;
    }
}
header{
    background-color: darkorange;
    display: flex;
    flex-direction: row;
    gap: 1rem;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-around;
    img{
        height: 100px;
        
    }
   
    h1{
        font-family: 'Audiowide', cursive;
        text-align: center;
        width: 60%;
    }
}
footer{
    background-color: darkorange;
    p{
        text-align: center;
        span{
            font-family: 'Audiowide', cursive;
            font-weight: bold;
        }
    }
}