body {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
}

main {
    flex: 1;
}
header{
    background-color: darkorange;
    display: flex;
    flex-direction: row;
    gap: 1rem;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-around;
    img{
        height: 100px;
        
    }
   
    h1{
        font-family: 'Audiowide', cursive;
        text-align: center;
        width: 60%;
    }
}
footer{
    background-color: darkorange;
    p{
        text-align: center;
        span{
            font-family: 'Audiowide', cursive;
            font-weight: bold;
        }
    }
}